# Byte-compiled / optimized / DLL files
# find . -name '*.pyc' | xargs -n 1 git rm --cached
__pycache__/
*.py[cod]
*$py.class
*.pyc
**/__pycache__/
*.cpython*

# Unit test / coverage reports
.coverage
.coverage.*
.cache
.pytest_cache/
.tox 

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Misc stuff
.DS_Store
.vscode
lightning_logs
tensorboard

# Project specifics
*normalizer*.pkl
configs/
runs/
bin/
notebooks/runs

# data
data/kenya.pkl
*.csv
*.nc
